## Graphing NYC Subway Systems - Centrality

Group members: Habib Khan, Vijaya Cherukuri, Priya Shaji, Abdellah Ait Elmouden

### Objective

The Goal of this this weekâ€™s assignment is to identify an interesting set of network data that is available on the web that could be used for analyzing and comparing centrality measures across nodes.

Why might we want to identify important stations in the NYC subway network? We curious to see if there are numbers to rank stations which align with our human perception of important stations in the system.

The question we wanted to explore: 

- Does the network structure indicate Times Square is a critical station, or is that just where the most riders board? 
- can all stations in a network be important?

So the data can be analyzed for Betweenness Centrality. This metric captures a different view of the importance of a node. Instead of finding nodes with more number of neighbors, it finds the bottleneck nodes in a network. We can find betweenness centrality of nodes of graph G using the nx.betweenness_centrlality(G) method. so the Idea behind betweenness centrality. It assumes that the nodes which connect most of the other nodes in the shortest possible way are most important.

### Data Source 

In order to perform the MTA Subway network analysis an available dataset is available on the [MTA subway GTFS feed](http://transitfeeds.com/p/mta/79). The network is undirected since subway can go both direction. stops/stations are the nodes and routes are the edges. following are the datasest files.

![alt text](data.png)

In [52]:
import igraph as ig
import pandas as pd

nodes = pd.read_csv('stops.txt', sep=",")
edges = pd.read_csv('routes.txt', sep=",", header=None)

**Subway routes table**

In [53]:
edges.head()

,0,1,2,3,4,5,6,7,8
0,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
1,1,MTA NYCT,1,Broadway - 7 Avenue Local,Trains operate between 242 St in the Bronx and...,1,http://web.mta.info/nyct/service/pdf/t1cur.pdf,EE352E,NaN
2,2,MTA NYCT,2,7 Avenue Express,"Trains operate between Wakefield-241 St, Bronx...",1,http://web.mta.info/nyct/service/pdf/t2cur.pdf,EE352E,
3,3,MTA NYCT,3,7 Avenue Express,"Trains operate between 148 St, 7 Av, Manhattan...",1,http://web.mta.info/nyct/service/pdf/t3cur.pdf,EE352E,NaN
4,4,MTA NYCT,4,Lexington Avenue Express,Trains operate daily between Woodlawn/Jerome A...,1,http://web.mta.info/nyct/service/pdf/t4cur.pdf,00933C,NaN

**Subway stops table**

In [51]:
nodes.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103

### Video will be added later